@tailwind base;
@tailwind components;
@tailwind utilities;

/* copy from '@icon-park/react/styles/index.css' */
.ava-icon {
  display: inline-block;
  color: inherit;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  vertical-align: -0.125em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ava-icon-spin svg {
  animation: ava-icon-spin 1s infinite linear;
}
.ava-icon-rtl {
  transform: scaleX(-1);
}
@keyframes ava-icon-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes ava-icon-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
